<% layout('layout') -%>
  <form class="form-signin">
    <div class="text-center mb-4">
      <!-- <img class="mb-1" src="https://thenounproject.com/api/private/icons/2603157/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0&token=gAAAAABkBFQkGJlh2meniuheyFnUsKEDWZrgirPFofaDlBWTPVJjBkTEE4tF943RHkhwylRR0CjQ8npyYbmw6TTI2GHwYFQWOA%3D%3D" alt="" width="100" height="100"> -->
      <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
      <p></p>
    </div>

    <div class="form-label-group">
        <input type="text" id="first_name" class="form-control" placeholder="First Name" required autofocus>
        <label for="first_name">First Name</label>
    </div>

    <div class="form-label-group">
        <input type="text" id="last_name" class="form-control" placeholder="Last Name" required autofocus>
        <label for="last_name">Last Name</label>
    </div>

    <div class="form-label-group">
      <input type="text" id="username" class="form-control" placeholder="Username" required autofocus>
      <label for="username">Username</label>
    </div>

    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="inputPassword">Password</label>
    </div>

    <div class="form-label-group">
      <input type="password" id="repeatPassword" class="form-control" placeholder="Repeat Password" required>
      <label for="repeatPassword">Repeat Password</label>
    </div>
    
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" id="admin_check" value="remember-me"> Admin
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2023</p>
  </form>
